@model Services.UserResource

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div class="row">
    <h1 class="display-4">Registro</h1>
    <div class="flex-div">
        <div class="name-content">

            <form asp-action="Create">
                <select asp-for="TypeDocumentId" class="form-control">
                    <option>Seleccione tipo de documento</option>
                    <option value="1">Nit</option>
                    <option value="1">Cédula de ciudadanía </option>
                    <option value="2">Cédula de extranjería</option>
                    <option value="2">Tarjeta de identidad</option>
                </select>
                <br/>
                <input asp-for="Document" class="form-control" placeholder="Correo" documento/>
                <input asp-for="FirstName" class="form-control" placeholder="Nombres" Nombres/>
                <input asp-for="LastName" class="form-control" placeholder="Apellidos" required/>
                <input asp-for="Email" type="email" class="form-control" placeholder="Correo" required/>
                <input asp-for="Password" type="password" class="form-control" placeholder="Constraseña" required>
                <button type="submit" value="Create" class="login">Crear</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>