@model IEnumerable<Services.Models.ResponseLogin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="content">
    <div class="flex-div">
        <div class="logo"> Hola : @ViewData["Name"]  + @ViewData["Lasname"]  </div>
    </div>
 
</div>

